@import '@styles';

.features {
  display: flex;
  align-items: center;
  justify-content: start;
  max-width: $normal-desktop;
  margin: 0 auto 15rem auto;

  @media screen and (max-width: $small-desktop) {
    gap: 5.6rem;
    flex-direction: column;
  }

  &__image {
    display: flex;
    flex:1;
    flex-direction: row-reverse;
    justify-content: end;
    

    img {
      width: 100%;
      max-width: 71.2rem; 
      min-width: 71.2rem; 
      height: auto;
      object-fit: contain;
    }

    @media screen and (max-width: $small-desktop) {
      img {
        width: 100%;
        min-width: 31.2rem; 
        margin: 0 3.2rem;
      }
    }
  }

  &__content {
    display: flex;
    flex:1;
    flex-direction: column;
    padding-left: 11rem;
    gap: 5.6rem;

    @media screen and (max-width: $small-desktop) {
      padding-left: 0;
    }
        &__info {
        text-align: left;
        width: 35rem;

        @media screen and (max-width: $small-desktop) {
          text-align: center;
        }

      h2 {
        color: $font-neutral;
        font-size: 2.4rem;
      }

      p {
        color: $font-caption;
        font-size: 1.6rem;
      }
    }
  }
}



// .features {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(69.3rem, 1fr));
//   background-color: blue;
  
//   @media screen and (max-width: $tablet) {
//     grid-template-columns: 1fr;
//   }

//   &__image {
//     display: flex;
//     flex:1;
//     flex-direction: row-reverse;
//     justify-content: end;
//     width: 69.3rem;
//     background-color: red;
//     // position: relative;

//     img {
//       // position: absolute;
//       // left: -3rem;
//       width: 75.2rem;
//       height: 57.2rem;
//     }
//   }

//   &__content {
//     display: flex;
//     flex:1;
//     flex-direction: column;
//     justify-content: center;
//     width: 69.3rem;
//     gap: 5.6rem;
//     background-color: green;
//     height: 57.2rem;
//     &__info {
//       width: 35rem;

//       h2 {
//         color: $font-neutral;
//         font-size: 2.4rem;
//       }

//       p {
//         color: $font-caption;
//         font-size: 1.6rem;
//       }
//     }
//   }
// }
