@import '@styles';

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  width: 100%;
  padding: 0 2.4rem;
  gap: 3rem;
  margin-bottom: 15rem;

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 13.1rem;
    gap: 5.6rem;
  }

  &__container {
    display: flex;
    flex: 1 1 27rem;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    width: 100%;
    max-width: 35rem;

    img {
      width: 4.4rem;
      height: 4.4rem;
    }

    h2 {
      padding-top: 2.4rem;
      font-size: 2.4rem;
      color: $font-neutral;
    }
    p {
      font-size: 1.6rem;
      color: $font-caption;
    }
  }

  &__container:nth-child(3) {
    img {
      width: 5rem;
      height: 3.2rem;
    }
  }
}
